In [ ]:
import pandas as pd

url = 'https://pointercrate.com/demonlist/55'
dfs = pd.read_html(url)

dfs = pd.read_html(url)

print(len(dfs))

1

In [ ]:
print(dfs[0])

     Unnamed: 0 Record Holder Progress Video Proof
0           NaN       Superex     100%     YouTube
1           NaN      BlassCFB     100%     YouTube
2           NaN     JakeN2436     100%     YouTube
3           NaN       Kevelia     100%     YouTube
4           NaN   ChiefFlurry     100%      Twitch
..          ...           ...      ...         ...
620         NaN       GGBryan      56%     YouTube
621         NaN       FieRcE7      56%     YouTube
622         NaN  SebasPeCausa      56%     YouTube
623         NaN  SanderpiilV3      56%      Twitch
624         NaN        AlexGD      56%     YouTube

[625 rows x 4 columns]

In [ ]:
print(dfs[0]['Record Holder'])
print(dfs[0]['Progress'])

0           Superex
1          BlassCFB
2         JakeN2436
3           Kevelia
4       ChiefFlurry
           ...
620         GGBryan
621         FieRcE7
622    SebasPeCausa
623    SanderpiilV3
624          AlexGD
Name: Record Holder, Length: 625, dtype: object
0      100%
1      100%
2      100%
3      100%
4      100%
       ...
620     56%
621     56%
622     56%
623     56%
624     56%
Name: Progress, Length: 625, dtype: object

In [ ]:
import pandas as pd

# Webpage url                                                                                                               
url = 'https://pointercrate.com/demonlist/55'

# Extract tables
dfs = pd.read_html(url)

# Get first table                                                                                                           
df = dfs[0]

# Extract columns                                                                                                           
df2 = df[['Record Holder','Progress']]
print(df2)

    Record Holder Progress
0         Superex     100%
1        BlassCFB     100%
2       JakeN2436     100%
3         Kevelia     100%
4     ChiefFlurry     100%
..            ...      ...
620       GGBryan      56%
621       FieRcE7      56%
622  SebasPeCausa      56%
623  SanderpiilV3      56%
624        AlexGD      56%

[625 rows x 2 columns]

In [ ]:
df2.to_excel('players.xlsx')

In [ ]:
data = pd.read_excel('/content/players.xlsx')

In [ ]:
data

     Unnamed: 0 Record Holder Progress
0             0       Superex     100%
1             1      BlassCFB     100%
2             2     JakeN2436     100%
3             3       Kevelia     100%
4             4   ChiefFlurry     100%
..          ...           ...      ...
620         620       GGBryan      56%
621         621       FieRcE7      56%
622         622  SebasPeCausa      56%
623         623  SanderpiilV3      56%
624         624        AlexGD      56%

[625 rows x 3 columns]