In [ ]:
import numpy as np
import pandas as pd

data = pd.read_csv('/content/ratings_Electronics (1).csv')

In [ ]:
data.head()

    AKM1MP6P0OYPR  0132793040  5.0    1365811200
0  A2CX7LUOHB2NDG  0321732944  5.0  1.341101e+09
1  A2NWSAGRHCP8N5  0439886341  1.0  1.367194e+09
2  A2WNBOD3WNDNKT  0439886341  3.0  1.374451e+09
3  A1GI0U4ZRJA8WN  0439886341  1.0  1.334707e+09
4  A1QGNMC6O1VW39  0511189877  5.0  1.397434e+09

In [ ]:
data.columns = ['user_id', 'product_id','ratings','timestamp']

In [ ]:
df = data[:int(len(data) * .1)]

In [ ]:
df

               user_id  product_id  ratings     timestamp
0       A2CX7LUOHB2NDG  0321732944      5.0  1.341101e+09
1       A2NWSAGRHCP8N5  0439886341      1.0  1.367194e+09
2       A2WNBOD3WNDNKT  0439886341      3.0  1.374451e+09
3       A1GI0U4ZRJA8WN  0439886341      1.0  1.334707e+09
4       A1QGNMC6O1VW39  0511189877      5.0  1.397434e+09
...                ...         ...      ...           ...
126165   AQZOOBDEX8XCH  B00005U23U      5.0  1.058573e+09
126166  A2L4WAZDE4SIR7  B00005U23U      5.0  1.391299e+09
126167  A2R4AXQKD25HBM  B00005U23U      4.0  1.061424e+09
126168  A1LGGZHI3XK1QY  B00005U23U      5.0  1.249430e+09
126169  A3V8EUZM8CF8NZ  B00005U23U      5.0  1.030666e+09

[126170 rows x 4 columns]

In [ ]:
counts = df['user_id'].value_counts()
data = df[df['user_id'].isin(counts[counts >= 50].index)]
data.groupby('product_id')['ratings'].mean().sort_values(ascending=False) 
final_ratings = data.pivot(index = 'user_id', columns ='product_id', values = 'ratings').fillna(0)

num_of_ratings = np.count_nonzero(final_ratings)
possible_ratings = final_ratings.shape[0] * final_ratings.shape[1]
density = (num_of_ratings/possible_ratings)
density *= 100
final_ratings_T = final_ratings.transpose()

grouped = data.groupby('product_id').agg({'user_id': 'count'}).reset_index()
grouped.rename(columns = {'user_id': 'score'},inplace=True)
training_data = grouped.sort_values(['score', 'product_id'], ascending = [0,1]) 
training_data['Rank'] = training_data['score'].rank(ascending=0, method='first') 
recommendations = training_data.head()

In [ ]:
def recommend(id):     
    recommend_products = recommendations 
    recommend_products['user_id'] = id 
    column = recommend_products.columns.tolist() 
    column = column[-1:] + column[:-1] 
    recommend_products = recommend_products[column] 
    return recommend_products 

print(recommend(11))

     user_id  product_id  score  Rank
38        11  B00004SYB7      2   1.0
41        11  B00004TEN2      2   2.0
71        11  B00004W3YX      2   3.0
76        11  B00004X036      2   4.0
109       11  B000051123      2   5.0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until